<div class="row">
  <div class="col-6">
    <form class="container" [formGroup]="pathwayForm">
      <div class="row">
        <md-input-container class="input">
          <input mdInput placeholder="WikiPathways ID" type="text" formControlName="WPId">
        </md-input-container>
      </div>
      <div class="row">
        <md-input-container class="input">
          <input mdInput placeholder="Title" type="text" formControlName="title">
        </md-input-container>
      </div>
      <div class="row">
        <md-input-container class="input">
          <textarea mdInput placeholder="Interactive description" formControlName="description" rows="10"></textarea>
        </md-input-container>
      </div>
    </form>
  </div>
  <div class="col-6">
    <div *ngIf="entities.length > 0">
      <md-input-container class="input">
        <input type="text" mdInput [formControl]="entitySearchControl" [mdAutocomplete]="auto">
      </md-input-container>

      <md-autocomplete #auto="mdAutocomplete" class="input">
        <md-option *ngFor="let entity of filteredEntities | async" [value]="entity.id" class="input">
          {{entity.id}} {{entity.text? '(' + entity.text + ')' : null}}
        </md-option>
      </md-autocomplete>
    </div>

    <div #pathwayWrapper id="pathway"></div>
  </div>
</div>
