/*Import bootstrap*/
// Core variables and mixins
@import "variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/custom";

// Reset and dependencies
@import "~bootstrap/scss/normalize";

// Import styles
@import "~bootstrap/scss/type";

// Core CSS
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/list-group";


// Utility classes
@import "~bootstrap/scss/utilities";


/*Import Material*/
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


/* Custom styles*/
button:focus {
  outline: none
}
a:not([href]):not([tabindex]) {
  color: green;
}

.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

