<md-progress-spinner mode="indeterminate" *ngIf="loading" class="loading-spinner"></md-progress-spinner>

<div class="row" *ngIf="!loading && compounds.length < 1">
  <div class="col">
    <h1 class="text-center">No compound sets :(</h1>
    <p class="text-center"><a [routerLink]="['compound/create']">Create one!</a></p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-xs-12 mb-3">
    <app-compounds [compounds]="compounds" (activeCompoundSet)="onActiveCompoundSet($event)"></app-compounds>
    <button md-button color="primary" (click)="getNext()" class="m-auto" *ngIf="! loading">Load more compound sets</button>
  </div>
  <div class="col-md-8 col-xs-12">
    <app-compound-detail [compoundSet]="activeCompoundSet"></app-compound-detail>
  </div>
</div>
