<div class="row" id="wrapper">
  <div class="col-md-6 col-xs-12 push-md-6" *ngIf="!! WPId" id="pathway-section">
    <div class="row">
      <div class="col">
        <div *ngIf="entities.length > 0">
          <md-input-container class="input">
            <input type="text" mdInput [formControl]="entitySearchControl" [mdAutocomplete]="auto" placeholder="Search for a pathway element">
          </md-input-container>
          <md-autocomplete #auto="mdAutocomplete" class="input">
            <md-option *ngFor="let entity of filteredEntities | async" [value]="entity.id" class="input">
              {{entity.text}} ({{entity.id}})
            </md-option>
          </md-autocomplete>
        </div>
      </div>
    </div>
    <div class="row" id="pathway-diagram-row">
      <div class="col">
        <app-pres-diagram [WPId]="WPId" (pathwayInstance)="pathwayLoaded($event)"></app-pres-diagram>
      </div>
    </div>
  </div>
  <div class="col-12" [class.pull-md-6]="!! WPId" [class.col-md-6]="!! WPId" id="description-section">
    <md-tab-group>
      <md-tab label="Editor">
        <form class="mt-3" [formGroup]="pathwayForm">
          <p class="text-muted" style="font-size:.8rem">
            <strong>Need help?</strong> Look at the "creating" tab of the <a [routerLink]="['/help']" target="_blank">help page</a>.
          </p>
          <div class="form-group">
            <p class="text-muted" style="font-size:.8rem">Find a pathway on <a href="http://wikipathways.org" target="_blank">WikiPathways</a>. </p>
            <md-input-container class="input">
              <input mdInput placeholder="WikiPathways ID. E.g. input 78 for the TCA cycle" type="text" formControlName="WPId">
            </md-input-container>
            <p style="color: red; font-size: .9rem" *ngIf="formErrors.WPId" class="error">
             {{ formErrors.WPId }}
            </p>
          </div>
          <div class="form-group">
            <md-input-container class="input">
              <input mdInput placeholder="Title" type="text" formControlName="title">
            </md-input-container>
            <p style="color: red; font-size: .9rem" *ngIf="formErrors.title" class="error">
              {{ formErrors.title }}
            </p>
          </div>
          <div class="form-group">
            <p class="text-muted" style="font-size:.8rem"><strong>Tip!</strong> Use Markdown for interactive links.
              <a href="https://jacobwindsor.github.io/kaavio-showdown/writers" target="_blank">
                Click here for help
              </a>
            </p>
            <p style="color: red; font-size: .9rem" *ngIf="formErrors.markdown" class="error">
              {{ formErrors.markdown }}
            </p>
            <md-input-container class="input">
              <textarea mdInput placeholder="Interactive description" formControlName="markdown" rows="20"></textarea>
            </md-input-container>
          </div>
          <div class="row">
            <button md-button (click)="save()" [disabled]="!pathwayForm.valid">Save</button>
          </div>
        </form>
      </md-tab>
      <md-tab label="Preview">
        <div class="mt-3">
          <app-pres-interactive-description [title]="title" [markdown]="markdown"
                                            [pathwayInstance]="pathwayInstance"></app-pres-interactive-description>
        </div>
      </md-tab>
    </md-tab-group>
  </div>
</div>
